
<% if current_user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(current_user.errors.count, "error") %> occurred:</h2>

  <ul>
    <% current_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h2>Select up to 10 Food Photos to find Restaurants near you</h2>
<div id="search-api-results">
<%= form_for(add_search_images_to_user_path) do |f| %>
<div class="row">
<div class="small-4 large-7 columns">
</div>
<div class="small-3 large-2 columns">
  <div id="counter"></div>
</div>
<div class="small-5 large-3 columns">
<%= f.submit "Get Restaurants", id: 'submit-selection' %>
</div>
</div>
<%= f.collection_check_boxes(:image_ids, @images, :id, :thumbnail_url) do |b| %>
  
  <li>
  <%= b.label do %>
  <div class="image-container">
  <%= image_tag(b.object.thumbnail_url) %>
  </div>
  <% end %>
  <%= b.check_box %></li>
<% end %>
<% end %>
</div>