<div class="loading-wrapper">
  <div class="new-search-content">
   

    <h2>Search Food Photos</h2>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-10 columns">

            <%= form_tag(search_index_path, :method => "get") do %>
            <%= search_field_tag :search_query, params[:search_query], placeholder: "Search Photos" %>
            <%= hidden_field_tag 'lat', value = '', id: "lat"%>
            <%= hidden_field_tag 'lon', value = '', id: "lon"%>

          </div>
          <div class="small-2 columns">
            <%= submit_tag "Search", class: "button postfix animated pulse", id: 'search-button' %>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="small-10 columns">
        <div class="range-slider round" data-slider data-options="display_selector: #days-off-count; initial: 10;start: 1; end: 100;">
          <span class="range-slider-handle" role="slider" tabindex="0"></span>
          <span class="range-slider-active-segment"></span>
        </div>
      </div>
      <div class="small-2 columns">
        <%= number_field_tag :price,"10", id: "days-off-count", min:1, max:100  %>
        <% end %>

      </div>
    </div>
  </div>
  <div class='load-message'>Please wait a minute. <br/>While we search for your photos.</div>
    <script>
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(GeoL);
        if (document.getElementById('lat') === null) {
         OtherThanGeo(); 
       }
     }
     else {
      OtherThanGeo();
    }
    function OtherThanGeo () {
     $('input#search_query').html("Geolocation is not supported by this browser. Please Provide your address.");
     form = document.createElement("input");
     form.attr({ name: "address", id: "address", title: "Address", placeholder: "Type Address"});
     document.getElementsByTagName('form')[0].appendChild(form)
   }
   function GeoL(position) {
    document.getElementById('lat').value = position.coords.latitude;
    document.getElementById('lon').value = position.coords.longitude;
  }
</script>
