<div class="loading-wrapper">
  <div class="new-search-content">


    <h2>Search Food</h2>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-12 columns">

            <%= form_tag(search_index_path, :method => "get") do %>
            <%= search_field_tag :search_query, params[:search_query], placeholder: "Search Photos" %>
            <%= hidden_field_tag 'lat', value = '', id: "lat"%>
            <%= hidden_field_tag 'lon', value = '', id: "lon"%>

          </div>
          <div class="row ">
            <%= submit_tag "Search", class: "button postfix expand", id: 'search-button' %>
          </div>
        </div>
      </div>
    </div>

    <% end %>

    <div class="row slider-margin fadeIn Animated">
  <% if !@images.empty? && current_user.images.empty? %>
      <ul class="example-orbit" data-orbit data-options="timer_speed: 3000;animation: 'fade';">
  <% counter = 1 %>

          <% @images.shuffle[0..10].each do |image|  %>
          <li>
  <div class="orbit-caption hashtags-show-image slider-caption" >
   <div class="row">
  <%= link_to restaurant_path(image.restaurant) do %> <%= image.restaurant.name %><% end %>
    <div class="row hashtags-show-image">
    <% if image.tags.any? %>
      <% image.tags[0..6].each do |tag| %>
      <% if !tag.name.blank? %>
      #<%= link_to tag.name.tr("[]",""),  tag_images_path(tag.name), class: "tags-slider" %>
      <% end %>
      <% end %>
      <% end %>
  </div>
          <%= link_to image do %><%= image_tag image.url, alt: "slide #{counter}",class: "slider-image" %><% end %>
          <% counter += 1 %>
         
          </li>
       <% end %>
   
        </ul>
        <% end %>
      </div>
        <div class="row slider-margin">
      <% if !@images.empty? %>
          <ul class="example-orbit" data-orbit data-options="timer_speed: 3000;animation: 'fade';">
      <% counter = 1 %>

              <% current_user.images.shuffle[0..10].each do |image|  %>
              <li>
      
              <%= link_to image do %><%= image_tag image.url, alt: "slide #{counter}",style: "margin-left:auto;margin-right:auto; width:400px;" %><% end %>
              <% counter += 1 %>
              <div class="orbit-caption hashtags-show-image slider-caption" style="border-radius:5px;" >
               <div class="row">
              <%= link_to restaurant_path(image.restaurant) do %> <%= image.restaurant.name %><% end %>
                <div class="row hashtags-show-image">
                <% if image.tags.any? %>
                  <% image.tags[0..6].each do |tag| %>
                  <% if !tag.name.blank? %>
                  #<%= link_to tag.name.tr("[]",""),  tag_images_path(tag.name), class: "tags-slider" %>
                  <% end %>
                  <% end %>
                  <% end %>
              </div>
              </li>
           <% end %>
       
            </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class='load-message'>Please wait a minute. <br/>While we search for your photos.</div>
      <script>
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(GeoL);
          if (document.getElementById('lat') === null) {
           OtherThanGeo(); 
         }
       }
       else {
        OtherThanGeo();
      }
      function OtherThanGeo () {
       $('input#search_query').html("Geolocation is not supported by this browser. Please Provide your address.");
       form = document.createElement("input");
       form.attr({ name: "address", id: "address", title: "Address", placeholder: "Type Address"});
       document.getElementsByTagName('form')[0].appendChild(form)
     }
     function GeoL(position) {
      document.getElementById('lat').value = position.coords.latitude;
      document.getElementById('lon').value = position.coords.longitude;
    }
  </script>
