<div class="landing-page-main-container">
<div class="phone-image-container animated fadeIn">
<%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodsee-iphone-sample.png" %>
</div>
<div class="landing-page-container">

<%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodseelogo-lrg.png", id:"foodseelogo-lrg", class: "animated fadeInDown" %>
  <h2 id="tagline">Discover & Devour Food Locally </h2>
  <%= render "devise/shared/links" %>
  </div>


<div class="divider"></div>
<div class="row app-store">
<div class="wrapper-apps">
<%= image_tag "http://foamcreature.com/images/maincontent/store/google_play_store_coming_soon.png", width: 143, class: "store-image" %>
<%= image_tag "https://s3.amazonaws.com/swappa/static/images/apps/coming-soon-app-store.png", width: 150 %>
</div>
</div>
</div>
