<%= render 'nav' %>
<br/>
<p></p>
<h2><%= @user.name %></h2> 
  <h4><i>Username: <%= @user.username %></i></h4>
<h4></h4>

<h4> Photos:</h4>
<%= render @user.images.uniq %>
<p>
<h4>Restaurants:</h4>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant do %><%= restaurant.name %><% end %></li>
<% end %>
</p>