<%= hidden_field_tag 'lat', value = @restaurant.latitude, id: "lat"%>
<%= hidden_field_tag 'lon', value = @restaurant.longitude, id: "lon"%>
 <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script>
   var lat = document.getElementById('lat').value;
   var lon = document.getElementById('lon').value;
   var myCenter=new google.maps.LatLng(lat,lon);

   function initialize()
   {
   var mapProp = {
     center:myCenter,
     zoom:14,
     mapTypeId:google.maps.MapTypeId.ROADMAP
     };

   var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

   var marker=new google.maps.Marker({
     position:myCenter,
     });

   marker.setMap(map);

   }

   google.maps.event.addDomListener(window, 'load', initialize);
  </script>



  <h3> <%= link_to @restaurant do %><%= @restaurant.name %><% end %></h3>
    <% if @restaurant.category.empty? %>
    N/A
    <% else %>
    <ul class="restaurant-categories-show">
  <% @restaurant.category.each do |category| %>
    <li class="category"><%= link_to "#" do %><%= category %><% end %></li>
  <% end %>
  <div id="googleMap" style="width:200px;height:200px;"></div>

  <% end %>
  </ul>
  <% @restaurant.images.each do |image| %>
  <li class="list-images">
    <%= link_to image do %><%= image_tag image.thumbnail_url %>
  </li>
    <% end %>
  <% end %>