<%= form_for(@image) do |f| %>
<div class="field">
  <%= f.label :image_file %><br />
  <%= f.file_field :image_file %>
</div>
  <div class="actions">
  <%= f.label :tags %>
  <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
     <%= f.submit class: "button expand"%>
   </div>
<% end %>