<br/>
<% if @image.restaurant.blank? %>
<h4 class="show-image"><%= @image.title %></h4>
<% else %>
<h4 class="show-image">Photo from <%= @image.restaurant.name %></h4>  
<%=  %>
<%= link_to image_tag(@image.image_file.thumb.url), @image.image_file.url %>
</p>
<div class="row">
  <div class="centering-show-image columns">
    <%= image_tag @image.url, class: 'show-image image-sized' %>
    <% if @image.tags.any? %>
    
  </div>
</div>
<div class="row hashtags-show-image coloring">
  <% @image.tags.each do |tag| %>
  #<%= link_to tag.name.tr("[]",""),  tag_images_path(tag.name) %>
  <% end %>
  <% end %>
</div>

<p class="show-page-buttons">
  <div class="row">
    <% if  @image.users.include?(current_user) %>
    <div class="small-4 columns">
      <button class="but">
        <%= link_to "Restaurant", restaurant_path(@image.restaurant), class: "show-page-button", id:"adjusted-button" %></button>
      </div>
      <div class="small-4 columns">
        <button class="but">
          <%= link_to "Edit", edit_image_path(@image), class: "show-page-button" %></button>
        </div>
        <div class="small-4 columns">
          <button class="but">
            <%= link_to 'Delete', @image, method: :delete, class: "show-page-button" %>
          </button>
        </div>
        <% else %>
        <div class="small-12 small-centered columns text-center">
          
          <%= link_to "Go to Restaurant", restaurant_path(@image.restaurant), class: "show-page-button desktop-button but" %>
            <%= link_to "Go to Restaurant", restaurant_path(@image.restaurant), class: "show-page-button responsive-button but" %>
         
        </div>
        <% end %>
      </div>
      <% end %>
</p>
