




<div class="fixed contain-to-grid sticky">
  <nav class="top-bar text-center" data-topbar role="navigation" data-options="is_hover: false">

  <ul class="title-area">
   <li class="top-bar left top-bar-left"><%= link_to new_search_path, id:'search-icon' do %><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/search-small.png", id:'search-icon-image' %><% end %></li>
      <li class="name top-bar center">
        <a href="/" id="foodsee-logo-link"><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodsee-small-logo.png", id: "nav-logo" %></a>
      </li>
 
      <li class="toggle-topbar right top-bar-right"><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/hamburger-small.png", id:"hamburger-image" %></li>
    </ul>
     
     <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Search", new_search_path %> </li>
        <li><%= link_to "All Restaurants", restaurants_path %> </li>
        <li><%= link_to "All Photos", images_path %> </li>
        <li class="has-dropdown">
          <% if user_signed_in? %>
          <%= link_to("My Account", my_account_path) %>
          <% else %>
          <%= link_to "Login in", new_user_session_path %>
          <% end %></a>
          <ul class="dropdown">
          <li><%= link_to "My Photos", my_photos_path(current_user) %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            
            </ul>
          </li>
        </ul>


      </section>
    </div>
  </div>

</div>


</div>
</nav>
</div>