
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
   <div class="row header-bg-color">
     <div class="small-4 large-4 columns nav-button">

       <%= link_to new_search_path do %><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/search-small.png", id: "search-icon" %><% end %>
     </div>
     <div class="small-4 large-4 columns logo-nav">



      <h1><a href="/"><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/foodsee-small-logo.png", class: "nav-logo" %></a></h1>
    </div>
    <div class="small-4 large-4 columns burger nav-button">

     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
     <li class="toggle-topbar hamburger-li" style=""><a href="#"><%= image_tag "https://s3-eu-west-1.amazonaws.com/foodsee/uploads/app_elements/hamburger-small.png", id:"hamburger-image" %></a></li>
     <section class="top-bar-section">
      <!-- Right Nav Section -->

      <ul class="right">
        <li><%= link_to "Search", new_search_path %> </li>
        <li><%= link_to "All Restaurants", restaurants_path %> </li>
        <li><%= link_to "All Photos", images_path %> </li>
        <li class="has-dropdown">
          <% if user_signed_in? %>
          <%= link_to("My Account", my_account_path) %>
          <% else %>
          <%= link_to "Login in", new_user_session_path %>
          <% end %></a>
          <ul class="dropdown">
          <li><%= link_to "My Photos", my_photos_path(current_user) %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            
            </ul>
          </li>
        </ul>


      </section>
    </div>
  </div>

</div>


</div>
</nav>
</div>