<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
  
    <title><%= content_for?(:title) ? yield(:title) : "Foodsee" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
  </head>
  
  <% if current_user %>
  <body>

  <%= render 'layouts/header' %>
  <% else %>
   <body class='landing-page'>
   <div class="wrapper">

  <% end %>
<div class="main-container">
    <%= yield %>
    </div>
    
   </div>
    <div class="push"></div>
  </div>

  <%= render 'layouts/footer' %>
  </body>

</html>


