<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Foodsee" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
  </head>
  
  <% if current_user %>
  <body>
  <%= render 'layouts/header' %>
  <% else %>
   <body class='landing-page'>
    
  <% end %>
<div class="main-container">
    <%= yield %>
    </div>
    <footer>&copy; 2015 Evan Gillogley</footer>
  </body>
</html>
